.hero {
    width: 450px;
    height: 90vh;
    background-color: #ffffff;
    border: 5px solid #009EA1;
    position: absolute;
    top: 5%;
    right: 5%;
}

.signupLogo {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-welcomeText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 55px;
}

.signup-welcomeText h3,
.signup-welcomeText p {
    color: #009EA1;
    text-align: center;
}

.signup-welcomeText p {
    width: 400px;
    font-size: 15px;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.otp {
    color: #000;
}

.otp h5 {
    margin-top: 10px;
}

.otp h5 a {
    text-decoration: none;
}

.otp-flex {
    display: flex !important;
    gap: 26px !important;
    width: 100%;
    justify-content: center !important; /* Center the inputs horizontally */
    flex-direction: row !important; /* Ensure inputs are in a row */
}

.otp-flex input {
    width: 60px;
    height: 60px;
    padding: 16px;
    gap: 16px;
    border: 0.8px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s ease;
}

.otp-flex input:focus {
    border-color: #4CAF50; /* Green border when focusing */
}

.btn-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    margin-top: 10px;
    width: 195px;
    height: 47px;
    background-color: #008183;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -5px;
}

input.error-border {
    border-color: red;
}

label.error-label {
    color: red;
}

.two-line-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.two-lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.two-lines h5 {
    color: #009EA1;
}

.line {
    width: 100px;
    height: 1px;
    background-color: #A7A7A7;
}

.auth-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.auth img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.ready-user {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.ready-user h5 a {
    color: #009EA1;
    text-decoration: none;
}

.signBack {
    position: absolute;
    top: 10%;
    left: 5%;
}

.signBack p a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
}

.verified-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #000000de;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verified {
    background-color: #008183;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #17FBFF;
    position: relative;
}

.verified button {
    background-color: #17FBFF;
    color: black;
    padding: 10px 12px;
    border: none;
    color: #009EA1;
}

#close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 320px) {
    .hero {
        background-color: transparent;
        border: none;
        margin-top: 40px;
        width: 300px;
        height: 60vh;
    }

    .signBack p a {
        position: absolute;
        left: 5%;
        top: 50%;
    }

    body {
        background-image: url(background.svg);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        font-family: "Open Sans", sans-serif;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    body {
        background-image: url(background.svg);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        font-family: "Open Sans", sans-serif;
    }

    .hero {
        background-color: transparent;
    }
}
